
<%= form_for @genre do |f| %>

<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name, placeholder: "Add a genre", :class=> "form-control" %>
</div>

<%= f.submit :class => 'submit btn btn-primary' %>

<% end %>

<div class="controls">
	<p><%= link_to 'Back', genres_path %></p>
</div>
