<p><%= @reading.status %></p>

<% if @reading.book %>
		<h2>Book: <%= link_to @reading.book.title, @reading.book %></h2>
<% end %>

<% if @reading.user %>
		<h2>User name: <%= link_to @reading.user.name, @reading.user %></h2>
<% end %>

	<div class="controls">
		<br><br>
		<li><%= link_to 'Edit', edit_reading_path(@reading) %></li>
		<li><%= link_to 'Delete', @reading, :method => 'delete', :data => { :confirm => "Are you sure?" } %></li>
		<li><%= link_to 'Back', reading_path %></li>
	</div>