<p><%= (@reading.status).gsub("_", " ").capitalize %></p>

<% if @reading.book %>
		<p>Book: <%= link_to @reading.book.title, @reading.book %></p>
<% end %>

<% if @reading.user %>
		<p>User name: <%= @reading.user.name %></p>
<% end %>

<div class="controls">
	<li><%= link_to 'Delete', book_reading_path(@reading.book.id, @reading.id), :method => 'delete', :data => { :confirm => "Are you sure?" } %></li>
	<li><%= link_to 'Back', readings_path %></li>
</div>

<p>Created : <%= time_ago_in_words(@reading.created_at) %> ago</p>