<% if @user.errors.any? %>
	<ol>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ol>
<% end %>

<%= form_for @user do |f| %>
	<p>
		<%= f.label :email %>
		<%= f.email_field :email, :required => true, placeholder: "your email address" %>
	</p>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name, :required => true, placeholder: "your name" %>
	</p>
	<p>
		<%= f.label :password %>
		<%= f.password_field :password, placeholder: "your password" %>
	</p>
	<p>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, placeholder: "retype password" %>
	</p>
	<%= f.submit :class => 'submit' %>
<% end %>

