<!-- show page for an user -->

<div class="infoshow">
	<div class="show">
		<p>Name: <%= @user.name %></p>
		<div class="picture">
			<%= image_tag @user.image, :class => 'profile_pic' %>
		</div>
		<p>Email: <%= @user.email %></p>
		<p>Readings</p>
		<% @user.readings.each do |reading| %>
			<ul><%= reading.book.title %>:->
				<li> <span class="color-blue"><%= reading.status.gsub("_", " ").capitalize %></span></li>
			</ul>
		<% end %>
		<br>
		<p>Reviews and ratings</p>
		<% @user.reviews.each do |review| %>
			<ul><%= review.book.title %>:-> 
				<li> <span class="color-blue"><%= review.description %></span></li>
				<% if review.rating %>
					<span class="color-blue">( Rating:<%=  review.rating %> )</span>
					<% if review.rating > 2 %>
						<span class="glyphicon glyphicon-thumbs-up color-blue" aria-hidden="true"></span>
					<% end %>
				<% end %>
			</ul>
		<% end %>
		<br>

		<!-- a user can modify / delete their account -->

		<div class="controls">
			<li><%= link_to 'Edit', edit_user_path(@user) %></li>
			<li><%= link_to 'Delete', @user, :method => 'delete', :data => { :confirm => "Are you sure?" } %></li>
			<li><%= link_to 'Back', users_path %></li>
		</div>
	</div>
</div>