<!-- form to add / edit books. Only admins have access to this form -->
<%= form_for @book do |f| %>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, placeholder: "Book title", :required => true, :class=> "form-control" %>
</div>
<div class="form-group">
	<%= f.label :publisher %>
	<%= f.text_field :publisher, placeholder: "Publisher", :class=> "form-control" %>
</div>
<div class="form-group">
	<%= f.label :year %>
	<%= f.text_field :year, placeholder: "Year of publish", :class=> "form-control" %>
</div>
<div class="form-group">
	<%= f.label :image %>
	<%= f.url_field :image, placeholder: "Image URL", :class=> "form-control" %>
</div>
<div class="form-group">
	<%= f.label :isbn %>
	<%= f.text_field :isbn, placeholder: "ISBN number", :class=> "form-control" %>
</div>

<!-- associate a book with its author from a drop-dowm menu -->

<div class="form-group">
	<label>Author</label>
	<%= f.select :author_id, Author.all.map { |author| [ author.name, author.id ] }, :include_blank => true, :class=> "form-control" %>
</div>

<!-- list genres as check-boxes. Admin can select more than 1 genre per book -->

<div class="form-group">
	<label>Genre</label>
	<% Genre.all.each do |genre| %>
	<div class="genre">
		<div class="form-group">
			<%= label_tag genre.name %>
			<%= check_box_tag "book[genre_id][]", genre.id, @book.genre_ids.include?(genre.id), :class=> "form-control" %>
		</div>
	</div>
	<% end %>
</div>

<%= f.submit :class => 'submit btn btn-primary' %>

<% end %>
