<h2>New Book</h2>

<%= form_for @book do |f| %>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, placeholder: "Book title", :required => true, :class=> "form-control" %>
</div>

<div class="form-group">
	<label>Author</label>
	<%= f.select :author_id, Author.all.map { |author| [ author.name, author.id ] }, :include_blank => true, :class=> "form-control" %>
</div>

<%= f.submit :class => 'submit btn btn-primary' %>
<% end %>
