
<h2><%= @book.title %></h2>
<% if @book.author %>
	<h2>Author: <%= link_to @book.author.name, @book.author %></h2>
<% end %>

<ul>Genre(s):
  <% @book.genres.each do |genre| %>
      <li>
        <%= genre.name %>
      </li>
  <% end %>
</ul>

<div class="triviabox">
	<div class="thumbnail">
		<div class="overlayInfo">
			<p>Title: <%= @book.title %></p>
			<p>Year: <%= @book.year %></p>
			<p>Publisher: <%= @book.publisher %></p>
			<p>ISBN: <%= @book.isbn %></p>
		</div>

		<div class="thumbnailImage">
			<%= image_tag @book.image, :class => 'feature' %>
		</div>
	</div>
</div>

<p>Readings: </p>
<% @book.readings.where(:user_id => @current_user.id).each do |reading| %>
	<%= reading.status %>
<% end %>

<p>Reviews: </p>
<% @book.reviews.each do |review| %>
	<%= review.description %>
	<%= review.rating %>
<% end %>

<% if @current_user.present? %>
    <p><%= link_to 'Add New Reading', new_book_reading_path(@book) %></p>
<% else %>    
    <p><%= link_to 'Add New Review', login_path,  :data => { :confirm => "Please login" } %></p>
<% end %>

<% if @current_user.present? %>
    <p><%= link_to 'Add New Review', new_book_review_path(@book) %></p>
<% else %>    
    <p><%= link_to 'Add New Reading', login_path,  :data => { :confirm => "Please login" } %></p>
<% end %>

<div class="showbooks">
	<div class="controls">
		<li><%= link_to 'Edit', edit_book_path(@book) %></li>
		<li><%= link_to 'Delete', @book, :method => 'delete', :data => { :confirm => 'Are you sure?' } %></li>
		<li><%= link_to 'Back', books_path %></li>
	</div>
</div>




