<%= form_for @review do |f| %>

<p>
	<%= f.label :description %>
	<%= f.text_field :description %>
</p>
<p>
	<%= f.label :rating %>
	<%= f.text_field :rating %>
</p>
<p>
	<label>Book</label>
	<%= f.select :book_id, Book.all.map { |book| [ book.title, book.id ] }, :include_blank => true %>
</p>
<p>
	<label>User</label>
	<%= f.select :user_id, User.all.map { |user| [ user.name, user.id ] }, :include_blank => true %>
</p>

<%= f.submit %>

<% end %>