
<h2>Reviews (<%= @reviews.count %>)</h2>

<!-- current user reviews -->
<% unless @current_user.admin? %>

	<% @current_user.reviews.each do |review| %>
		<ul>
			<li>Book: <%= link_to(review.book.title, review.book) %></li>
			<% if review.rating.present? %>
				<li>Rating: <%= review.rating %>
				<% if review.rating > 2 %>
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				<% end %></li>
			<% end %>
			<li>Description: <%= review.description if review.description %></li>
			<li>Created : <%= time_ago_in_words(review.created_at) %> ago</li>
			<li><%= link_to 'Edit', edit_book_review_path(review.book, review) %></li>
			<li><%= link_to 'Delete', book_review_path(review.book.id, review.id), :method => 'delete', :data => { :confirm => "Are you sure?" } %></li>
		</ul>
	<% end %>
	<ul>
		<li><%= link_to 'Back', '/' %><li>
		<li><%= link_to 'Add a new Review', books_path %></li>
	</ul>

<% end %>

<!-- all user reviews are available to the admin -->

<% if @current_user.admin? %>

	<% @reviews.each do |review| %>
		<ul>
			<li>Book: <%= link_to(review.book.title, review.book) %></li>
			<% if review.rating.present? %>
				<li>Rating: <%= review.rating %>
				<% if review.rating > 2 %>
					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				<% end %></li>
			<% end %>
			<li>Description: <%= review.description if review.description %></li>
			<li>Created : <%= time_ago_in_words(review.created_at) %> ago</li>
			<li><%= link_to 'Delete', book_review_path(review.book.id, review.id), :method => 'delete', :data => { :confirm => "Are you sure?" } %></li>
		</ul>
	<% end %>
	<ul>
		<li><%= link_to 'Back', '/' %><li>
		<li><%= link_to 'Add a new Review', books_path %></li>
	</ul>

<% end %>
