<p><%= @review.description %></p>
<p><%= @review.rating %></p>

<% if @review.book %>
		<h2>Book: <%= link_to @review.book.title, @review.book %></h2>
<% end %>

<% if @review.user %>
		<h2>User name: <%= link_to @review.user.name, @review.user %></h2>
<% end %>

<div class="controls">
	<li><%= link_to 'Edit', edit_review_path(@review) %></li>
	<li><%= link_to 'Delete', @review, :method => 'delete', :data => { :confirm => "Are you sure?" } %></li>
</div>

<ul><%= link_to 'Back', '/' %></ul>

<p>Created : <%= time_ago_in_words(@review.created_at) %> ago</p>