<p><%= @review.description %></p>
<p><%= @review.rating %></p>
	<div class="controls">
		<br><br>
		<li><%= link_to 'Edit', edit_review_path(@review) %></li>
		<li><%= link_to 'Delete', @review, :method => 'delete', :data => { :confirm => "Are you sure?" } %></li>
		<li><%= link_to 'Back', review_path %></li>
	</div>