<!DOCTYPE html>
<html>
<head>
  <title>Greatreads</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<nav>
	<%= link_to 'Home', '/' %>

	<% if @current_user.present? %>
		<%= link_to "Edit Profile", edit_user_path( @current_user ) %>
		<%= "Welcome back #{ @current_user.name }" if @current_user.present? %>
		<%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :data => { :confirm => 'Are you sure you want to logout?' } %>
	<% else %>
		<%= link_to 'Create Account', new_user_path %>
		<%= link_to 'Login', login_path %>
	<% end %>

	<ul>View Existing:
		<li><%= link_to 'Authors', authors_path %></li>
		<li><%= link_to 'Books', books_path %></li>
		<li><%= link_to 'Genres', genres_path %></li>
		<li><%= link_to 'Readings', readings_path %></li>
		<li><%= link_to 'Reviews', reviews_path %></li>
	</ul>

	<ul>Make Additions:
		<li><%= link_to 'Add Authors', new_author_path %></li>
		<li><%= link_to 'Add Books', new_book_path %></li>
		<li><%= link_to 'Add Genres', new_genre_path %></li>	
		<!-- <li><%= link_to 'Add Readings', new_reading_path %></li>
		<li><%= link_to 'Add Reviews', new_review_path %></li> -->
	</ul>

</nav>


<%= yield %>
<div class="container">

</body>
</html>
